<h1>Sample App</h1>
<h2>Learning How To…</h2>
	<ul>
		 <li>Generating a New Rails Page</li>
		 <li>Understanding Pages & Layouts</li>  
		 <li>Adding Embedded Ruby & HTML Content</li>
		 <li>Generating More Rails Pages</li>
	</ul>
