<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	</head>


	<body>

		<center><h2>BUY ONLINE | SHIP ANYWHERE</h2></center>

		<center><p>We know that buying a used bike online without seeing it yourself can be daunting.</p></center>

		<center><p>Our onsite bike shop inspects all bikes for things you may pay attention to while shopping around.</p></center>

		<center><p>We look for signs of wear and tear from dents to bending to rust while inspecting</p></center>

		<center><p>the condition of all brakes and headsets. No bike is showcased online with any major issue!</p></center>

		<center><p>We have one of the largest inventory of used bikes in Europe and can ship anywhere worldwide!</p></center>

		<center><p>Visit us regularly to see new arrivals or shop by your category of interest: brand, style, speed, year or gender.</p></center>

		<center><%= image_tag("used-bicycles-for-sale.jpg", class: "img-responsive") %></center>
		<center><h3>Your Source For Used Bikes in Berlin</h3></center>
	</body>

</html>

	
