<center><h1>WELCOME TO BIKE BERLIN</h1></center>
<center><h3>Your Source For Used Bikes in Berlin</h3></center>

<center><%= image_tag("used-bicycles-for-sale.jpg", class: "img-responsive") %></center>
