html, body {
	height: 100%
}

nav {
	color: #a80822;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.125em;
  line-height: 1.42857143;
  letter-spacing: 0.05em;
  font-weight: 300;
}

h1 {
	color: #a80822;
  font-family: 'Playfair Display', serif;
  font-family: 'PT Serif', serif;
}

h3 {
	color: #a80822;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

li {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-container {
	min-height: 100%
}

footer {
	color: white;
	height: 5%;
	background-color: #a80822;
}




// You can use Sass (SCSS) here: http://sass-lang.com/
