html, body {
	height: 100%
}

nav {
	color: #a80822;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.125em;
  line-height: 1.42857143;
  letter-spacing: 0.05em;
  font-weight: 300;
}

nav .container-fluid {
	background-color: #b5b610;
}

nav li {
	display: inline-block;
	padding: 10px;
	color: #a80822;
  font-size: 1.5em;
}


input#q {
  margin-bottom:10px;
}

h1 {
	color: #a80822;
  font-family: 'Playfair Display', serif;
  font-family: 'PT Serif', serif;
  font-size: 4em;
  font-weight: 500;
}

h2 {
	color: #a80822;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 3em;
  padding-bottom: 60px;
}

h3 {
	color: #a80822;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-top: 0;
  padding-bottom: 40px;
}

p {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2em;
  line-height: 1.42857143;
}


li {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-container {
	min-height: 100%
}

.carousel-caption {
  color: #000;
  top: 0;
  bottom: auto;
  text-align: right;
  font-size: 1.5em;
  line-height: 1.42857143;
  letter-spacing: 0.05em;
  padding-top: 100px;
}

#sign-in {
  width: 40%;
  float: left;
}

#sign-up {
  width: 40%;
  float: left;
}



#vector-bike {
  margin-right: 0;
}


footer {
	color: white;
	padding: 20px 0;
	background-color: #a80822;
}




// You can use Sass (SCSS) here: http://sass-lang.com/
